<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">{:isset($info['id'])?'编辑':'新增'}后台菜单</span>
        </div>

        <form action="{:url()}" method="post" class="form-horizontal">
            <div class="form-item">
                <label class="item-label">标题<span class="check-tips">（用于后台显示的配置标题）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">排序<span class="check-tips">（用于分组显示的顺序）</span></label>
                <div class="controls">
                    <input type="text" class="text input-small" name="sort" value="{$info.sort|default=0}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">链接<span class="check-tips">（U函数解析的URL或者外链）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="url" value="{$info.url|default=''}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">上级菜单<span class="check-tips">（所属的上级菜单）</span></label>
                <div class="controls">
                    <select name="pid">
                        {volist name="menus" id="menu"}
                            <option value="{$menu.id}" {if condition="$info['pid'] eq $menu['id']"}selected="selected"{/if} >{$menu.title_show}</option>
                        {/volist}
                        </select>
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">分组<span class="check-tips">（用于左侧分组二级菜单）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="group" value="{$info.group|default=''}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">是否隐藏<span class="check-tips"></span></label>
                <div class="controls">
                    <label class="radio"><input type="radio" name="hide" {if condition="$info.hide eq 1"}checked="true"{/if} value="1">是</label>
                    <label class="radio"><input type="radio" name="hide" {if condition="$info.hide eq 0"}checked="true"{/if} value="0">否</label>
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">仅开发者模式可见<span class="check-tips"></span></label>
                <div class="controls">
                    <label class="radio"><input type="radio" name="is_dev" {if condition="$info.is_dev eq 1"}checked="true"{/if}  value="1">是</label>
                    <label class="radio"><input type="radio" name="is_dev" {if condition="$info.is_dev eq 0"}checked="true"{/if}  value="0">否</label>
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">说明<span class="check-tips">（菜单详细说明）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="tip" value="{$info.tip|default=''}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">图标<span class="check-tips">（菜单显示图标）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="ico_name" value="{$info.ico_name|default=''}">
                </div>
            </div>
            <div class="form-item">
                <input type="hidden" name="id" value="{$info.id|default=''}">
                <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </form>
    </div>
</div>    
